body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  min-width: 1200px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}



.shadow-container {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: -5px 0 15px 0 rgba(0, 0, 0, 0.2), 5px 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

/**************
 header
 **********/
.main-header {
  min-width: 1200px;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 72px;
}

.main-header-logo {
  background-color: transparent;
  margin-bottom: -15px;
  margin-top: 0;
  width: 140px;
  height: 72px;
}

.main-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}

/*
.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}
*/
.main-navigation ul {
  display: flex;
  /*  justify-content: space-between;*/
  align-items: center;
  box-sizing: border-box;
  list-style: none;
  width: 1200px;
  padding-left: 72px;
  padding-right: 72px;
}

.site-navigation li {
  text-align: left;
  margin: 0;
  padding: 0;
  width: 239px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #8fb8d6;
}

.site-navigation a:active {
  color: #cacaca;
}

/******************
   main
**************/
.sedona-welcome {
  /*min-width: 1200px;*/
  width: 100%;
  height: 507px;
  margin: 0;
  padding: 0;
  font-size: 0;
  background: url("../img/welcome.png") no-repeat 370px 75px,
    url("../img/phoon-frame.svg")no-repeat 0 450px,
    url("../img/background-photo.jpg") no-repeat 0 -80px;
  background-color: #81b3d2;
}

.best-reasons {
  box-sizing: border-box;
  height: 215px;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  padding-top: 40px;
  margin: 0;
  color: #333333;
}

.best-reasons b {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  vertical-align: middle;
  margin-bottom: 28px;
}


.hotels-search-wrapper {
  position: relative;
  box-sizing: border-box;
  height: 291px;
  text-align: center;
  margin: 0 auto;
  padding-top: 23px;
}

.hotels-search-title {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 46px;
  color: #333333;
}

.hotels-search-title b {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 23px;
}

.search-form-button {
  width: 568px;
  height: 86px;
  background-color: #766357;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  border: none;
  margin: 0;
  color: #ffffff;
}

.search-form-button:hover,
.search-form-button:focus {
  background-color: #604e44;
}

.search-form-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.modal {
  position: absolute;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
  box-shadow: -16px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal-hotels-search {
  top: 250;
  left: 50%;
  margin-left: -284px;
  box-sizing: border-box;
  width: 568px;
  height: 395px;
  padding-left: 55px;
  padding-right: 55px;
}

.hotels-search {
  width: 458px;
  height: 395px;
  margin: 0 auto;
}

.form-wrapper {
  width: 458px;
  padding-top: 55px;
}

.date-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 458px;
  height: 38px;
  margin-bottom: 29px;
}

.date-item label {
  font: inherit;
  text-align: left;
}

.date-item input {
  box-sizing: border-box;
  position: relative;
  font: inherit;
  width: 346px;
  height: 38px;
  text-align: middle;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  margin: 0;
  padding-left: 10px;
  margin-left: auto;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.date-item input:hover {
  background-color: #ebebeb;
}

.date-item input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
  outline: none;
}

.visitors-count-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 54px;
}

.plusminus-wrapper {
  display: flex;
}

.visitors-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adults {
  width: 229px;
}

.childrens {
  width: 180px;
}

.visitors-count label {
  text-align: left;
}

.visitors-count input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  width: 37px;
  height: 36px;
  border: none;
  background-color: #f2f2f2;
}

.count-button {
  position: relative;
  width: 38px;
  height: 38px;
  font-size: 0;
  border: none;
  text-align: center;
  background-color: #f2f2f2;
  color: #a8a8a8;
  cursor: pointer;
}

.minus-button::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 17px;
  width: 12px;
  height: 3px;
  background-color: #a8a8a8;
}

.plus-button::before,
.plus-button::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 11px;
  height: 3px;
  background-color: #a8a8a8;
}

.plus-button::after {
  transform: rotate(90deg);
}

.minus-button:hover::before,
.minus-button:focus::before {
  background-color: #000000;
}

.minus-button:active::before {
  background-color: #80b2d3;
}

.plus-button:hover::before,
.plus-button:hover::after,
.plus-button:focus::before,
.plus-button:focus::after {
  background-color: #000000;
}

.plus-button:active::before,
.plus-button:active::after {
  background-color: #80b2d3;
}

.hotels-search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 100%;
  min-height: 58px;
  background-color: #81b3d2;
  border: none;
  margin-bottom: 55px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.hotels-search-button:hover,
.hotels-search-button:focus {
  background-color: #669ec0;
}

.hotels-search-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.mapofsedona {
  width: 100%;
  height: 593px;
  background-image: url("../img/map.jpg");
  background-color: #ffffe6;
  margin: 0;
}

/*******************
Страница каталога
*******************/

.list-of-hotels {
  width: 1200px;
}

.hotel-contaner {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 151px;
  padding-left: 72px;
  padding-right: 73px;
  /*  padding-top: 27px;
  padding-bottom: 30px;*/
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
}

.hotel-contaner:last-child {
  min-height: 152px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-block {
  min-width: 670px;
  height: 90px;
  display: flex;
}

.hotel-photo {
  height: 90px;
}

.hotel-info-wrapper {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  width: 600px;
  height: 90px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-top: 0;
}

.nameofthehotel {
  text-align: left;
  font-size: 21px;
  /*line-height: 26px;*/
  font-weight: bold;
  color: #000000;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
}

.nameofthehotel a {
  padding: 0;
  margin: 0;
  vertical-align: top;
  height: 16px;
}

.nameofthehotel:hover,
.nameofthehotel:focus {
  color: #82b3d3;
}

.nameofthehotel:active {
  color: #cacaca;
}

.hotel-table-wrapper {
  min-width: 260px;
  display: flex;
}

.hotel-info {
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-info p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 14px;
}

/*
.hotel-contaner:nth-child(2) .hotel-info p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 14px;
}
.hotel-contaner:nth-child(3) .hotel-info p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 14px;
}
*/
.hotel-booking {
  width: 142px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 6px;
}

.hotel-booking p {
  margin: 0;
  padding-top: 0;
  margin-bottom: 14px;
}

.button-hotel {
  box-sizing: border-box;
  font: inherit;
  font-weight: bold;
  height: 27px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 3px 15px;
  background-color: #82b3d3;
  color: #ffffff;
  border: none;
  margin: 0;
}

.hotel-button-blue:hover,
.hotel-button-blue:focus {
  background-color: #669ebf;
}

.hotel-button-blue:active {
  background-color: #5596be;
  color: #94b9d3;
}

.hotel-button-brown {
  min-width: 110px;
  background-color: #766357;
}

.hotel-button-brown:hover,
.hotel-button-brown:focus {
  background-color: #604e44;
}

.hotel-button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating-contaner {
  width: 110px;
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotel-star {
  display: flex;
  color: #82b3d3;
  font-size: 20px;
  line-height: 21px;
  vertical-align: top;
  text-align: right;
}

.hotel-star span {
  margin-left: 4px;
}

.rating {
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  padding: 2px 8px;
  margin: 0;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #666666;
}

/**************
    footer
************/
.footer-transparent {
  margin: -120px auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  min-width: 33.333333%;
  text-align: center;
  margin: 0 auto;
}

.social-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  width: 33.333333%;
  margin: 0 auto;
  padding: 0;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-left: 5px;
  background-color: #81b3d2;
}

.social:hover,
.social:focus {
  background-color: #669ec0;
}

.social:active {
  background-color: #5496bd;
}

.social:active img {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  width: 33.333333%;
  align-items: center;
  margin: 0 auto;
}

.footer-copyright p {
  font-weight: 400;
}

.logo-button {
  margin-left: 10px;
}

.logo-button svg {
  width: 115px;
}

.logo-button:hover path,
.logo-button:focus path {
  fill: #81b3d2;
}

.logo-button:active path {
  fill: #bdbbbc;
}
